* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* moves nav bar inline with h1 header */
nav {
    display: inline;
}

/* sets website background color to light grey */
body {
    background-color: #d9dcd6;
}

/* header elements */
h2 {
    margin-bottom: 20px;
    font-size: 36px;  
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* makes links white with no decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets paragraph font size */
p {
    font-size: 16px;
}

/* sets images to 200px tall */
img {
    max-height: 200px;
}

/* header background color, font and font color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    flex: auto;
}

/* gives div within header class padding, margin, right aligned, font type and size */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* sets h1 header font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets seo color in logo to light grey */
.seo {
    color: #d9dcd6;
}

/* sets heder nav to not be a list */
.header div ul {
    list-style-type: none;
}

/* blocks inline so we can set margin at 25 px */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* selects hero image along with its height, width and position */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* sets float left class to left with margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* sets float right class to right with margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets content class sections size, background color, font color, and font type */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets benefits class section size, background color, font color and font type */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* gives each section bottom padding of 32px */
.benefit-section {
    margin-bottom: 32px;
}

/* sets img width in benefits class section */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets footer padding, font type and alignment */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets h3 element in footer to size 20px font */
.footer h3 {
    font-size: 20px;
}
